<mat-card class="form-card">
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Select task</mat-label>
        <mat-select>
          <mat-option value='peta'>
            Create new
          </mat-option>
          <mat-option value='pinga'>
            Pinga
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Required time to do</mat-label>
        <input matInput type="number" autocomplete="off">
      </mat-form-field>
      <button mat-raised-button>Register</button>
    </form>
  </mat-card-content>
</mat-card>
