:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    h1 {
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
    p {
        padding: 15px;
    }
    .homeButtons{
      display: flex;
      flex-direction: column;

      button{
        margin-bottom: 15px;
      }
    }
}

.tasksContainer{
  height: fit-content;
  max-height: 45vh;
  overflow: auto;
  margin-bottom: 25px;
}

a{
  text-decoration:none;
  color: #fff;
}
a:hover{
  text-decoration: underline;
}

h3{
  padding-bottom: 0px;
}


