<mat-card class="form-card">
  <mat-card-content>
    <form (ngSubmit)="onSubmit()"[formGroup]="formGroup">
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput name="email" formControlName="email" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card-content>
  <p>If you don't have an account you can register <a routerLink='/register'>here</a></p>
</mat-card>
