<div>
  <mat-card *ngFor="let task of user?.tasks">
    <mat-card-content>
      <h2>{{task.name}}</h2>
      <p *ngIf="task.isFinished">
        Estimated hours for this task: {{calculateTime(task.totalTime)}} hours
      </p>
      <p *ngIf="!task.isFinished">
        Task started on: {{task.startTime | date : "LLLL d yyyy H:mm:ss"}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" *ngIf='!task.isFinished' (click)="finishTask(task.id)">Finish Task</button>
    </mat-card-actions>
</mat-card>
</div>
