:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div{
  height: fit-content;
  max-height: 90vh;
  overflow: scroll;
}
mat-card{
  width: 25vw;
  margin-top: 15px;
}

@media (max-width: 750px ){
  mat-card{
    width: 70vw;
  }
}
